.header{
    background-color: #DD5353;
    color:#fff;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: normal;
    font-family: 'DM Sans', sans-serif;
}

.headerListItem.active{
    color: #fff;
}

.headerTitle{
    font-size: 2.5rem;
}

.headerDesc{
    margin-top: -20px;
    margin-bottom: 1.8rem;
    font-family: 'DM Sans', sans-serif;
}

.headerBtn{
    margin-bottom: 50px;
    background-color: #B73E3E;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    color:#fff;
    height: 34px;
    border-radius: 12px;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

.headerBtn:hover{
    background-color:  #b73737;
    color: #fff;
}

.headerSearch{
height: 30px;
background-color:#fff;
border: 4px solid #DBC8AC;
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px 0px;
border-radius: 5px;
position: absolute;
bottom: -25px;
width: 100%;
max-width: 1024px;
}

.headerSearchItem{
    display: flex; 
    color:#B73E3E;
    padding: 0px 5px;
    cursor: pointer;
   

}

.headerIcon{
    color: #B73E3E;
}

.headerSearchInput{
    margin-left: 5px;
    border:none;
}

.searchBtn{
    border-radius: 50%;
    /* margin: 7px; */
    border: none;
    padding: 4px 6px;
    background-color: #b73737;
    color: #fff;
    cursor: pointer;
} 

.headerSearchInput{
    /* font-family: 'DM Sans', sans-serif; */
    color: #b73737;
    outline: none;
}
.headerSearchInput::placeholder{
    color: #b73737;
    font-family: 'DM Sans', sans-serif;
}

.date{
    position:absolute;
    top: 50px;
    z-index: 2;
}

.options{
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: grey;
    border-radius: 5px;
    z-index: 2;

}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optioncounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #b73737;
}

.optionCounterButton{
    height:30px;
    width:30px;
    border: 1px solid #DD5353;
    border-radius: 5px;
    color: grey;
    background-color: #fff;
}

.optionCounterButton:hover{
    cursor: pointer;
    border: 2px solid  #b73737;
    color: black;
}

.optionCounterButton:disabled{
    cursor:not-allowed;
}