.navbar{
    height: 50px;
    background-color: #DD5353;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-family: 'Oleo Script', cursive !important;
    font-size: x-large;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #B73E3E;
    color: #fff;
    height: 34px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
} 

.headerBtn:hover{
    background-color:  #b73737;
    color: #fff;
}